<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACPPred</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
    <body>
    <div class="container">
        <div class="row">

        <h1>ACPPred: Anticancer Peptide Prediction</h1>
        <hr>
        </div>

        <form action="/predict" method="post">
            <div action="row">
                <textarea name="sequence" id="" cols="30" rows="10"></textarea>
            </div>
            <div action="row">  
                <input type="submit" vale= "submit!">
            </div>

        </form>
        {% if sequence %}
                <hr>
            <h3>Results</h3>
            <p>Sequence:{{sequence}} </p>
            <p>Prediction: {{prediction}}</p>
        {% endif %}
    <div>
</body>
</html>